# Strings And List Objects

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence.

## Creating a String
In Python, we either use single quote (‘) or double quotes (“) to create a string

In [2]:
# Single word
str = "hello"
str

'hello'

In [3]:
# A phrase 
'This is also a string'

'This is also a string'

In [4]:
# Double quote
"String built with double quotes"

'String built with double quotes'

In [5]:
# error 
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-5-691dea99837a>, line 2)

The above code results in an error.Here, a combination of single quotes and double quotes can be used to get the complete statement.

In [6]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

The correct way to display strings in your output is by using a print function.

In [7]:
# We can simply declare a string
'Hello python'

'Hello python'

In [8]:
# we can't output multiple strings as shown below
'Hello World 1'
'Hello World 2'

'Hello World 2'

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3

In [9]:
print 'Hello World 1'
print 'Hello World 2'
print 'Use \n to print a new line'
print '\n'
print 'See what I mean?'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World 1')? (<ipython-input-9-3c2f3251395a>, line 1)

Note that, In Python 3, print is a function and not a statement. So you would print statements like this: print('Hello World')

If you want to use this functionality in Python2, you can import form the future module.

In [10]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print 'Hello World'                                   
# Note: The above code snippet works in python 2 .

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World')? (<ipython-input-10-9e13e357e104>, line 4)

## string Basics

The length of the string can be found out by using a function called len().

In [11]:
len('Hello World')

11

## String Indexing

In [12]:
# Assign s as a string
s = 'Hello World'

In [13]:
# print
s

'Hello World'

### Indexing

In [14]:
# Show first element (in this case a letter)
s[0]

'H'

In [15]:
s[10]

'd'

In [16]:
s[8]

'r'

Colon(:) is used to perform slicing.
For example:

In [17]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]
# s[1:] Print's the whole string starting from the index 1 i.e.,'e'

'ello World'

In [18]:
# There is no change in original 's'
s

'Hello World'

In [19]:
s[:3]
#s[:3] print's the string starting lying in between index 0 till index 2,it doesn't include index 3.
#i.e.,'Hel'

'Hel'

In [20]:
#To print the whole string using slicing we use s[:]
s[:]

'Hello World'

### Negative Indexing

In [21]:
# print's last letter of the string since it loop's back
s[-1]

'd'

In [22]:
# Print's the string excluding the last letter
s[:-1]

'Hello Worl'

we can use two colons in a row and then a number specifying the frequency to print the particular elements. For example:

In [23]:
# Go in the step size of 1 and print the whole string
s[::1]

'Hello World'

In [24]:
# Go in the step size of 2 
s[::2]

'HloWrd'

In [25]:
# To print a string backwards
s[::-1]

'dlroW olleH'

## String Properties

Strings are collection of ordered sequence of characters which are immutable.

In [26]:
s

'Hello World'

In [27]:
# Let's try to change the first letter to 'x'
s[0] = 'x'
#In place changes are not possible since strings are immutable.

TypeError: 'str' object does not support item assignment

### String Concatenation

In [28]:
s = 'python is awesome'
s

'python is awesome'

In [29]:
# To Concatenate strings
s + ' programming language!'

'python is awesome programming language!'

In [30]:
# We can reassign s completely though!
s = s + ' programming language!'

In [31]:
print(s)

python is awesome programming language!

### Repetition

In [32]:
word = 'zigBee'

In [33]:
word*5

'zigBeezigBeezigBeezigBeezigBee'

## Built-in String methods

 Built-in methods are functions present inside the object that can perform actions or commands on the object itself.

In [34]:
s

'python is awesome programming language!'

In [35]:
# Upper Case a string
s.upper()

'PYTHON IS AWESOME PROGRAMMING LANGUAGE!'

In [36]:
# Lower case
s.lower()

'python is awesome programming language!'

In [37]:
# Split a string by blank space (this is the default)
s.split()

['python', 'is', 'awesome', 'programming', 'language!']

In [38]:
# Split using a specific element
s.split('e')

['python is aw', 'som', ' programming languag', '!']

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements.

In [39]:
name = 'sam'
age = '20'
"My name is {}, and my age is {}".format(name,age)

'My name is sam, and my age is 20'

## Location and Counting

In [40]:
# Returns the number of times a character or substring is present in the given string. 
print(s)
s.count('o')

python is awesome programming language!

3

In [41]:
# Returns the index at first occurence of the character in the string
s.find('o')

4

In [42]:
# Returns -1 if the character is not present
s.find('k')

-1

## Formatting

center(): center's the string in a field and returns string consisting of s at the center of width.

In [43]:
s.center(50,'*')

'*****python is awesome programming language!******'

expandtabs(): expands tabs in a string. By default tabs are filled with spaces assuming a tab stop at every 8th column.

In [44]:
'a\tb\tc'.expandtabs(4)

'a   b   c'

## is check methods

Methods in this group classify a string based on the character it contains

In [45]:
s = 'Python'

isalnum(): Returns "True" if all characters in S are alphanumeric.

In [46]:
s.isalnum()

True

isalpha():Returns "True" if all characters in S are alphabetic.

In [47]:
s.isalpha()

True

islower(): Returns "True" if all cased characters in S are lowercase or if there is at least one cased character in S, False otherwise.

In [48]:
s.islower()

False

isspace(): Returns "True" if all characters in S are whitespace.

In [49]:
s.isspace()

False

istitle():Returns "True" if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [50]:
s.istitle()

True

isupper():Returns "True" if all cased characters in S are uppercase and there is at least one cased character in S, False otherwise.

In [51]:
s.isupper()

False

endswith():It checks whether or not the string endswith with the passed key.

In [52]:
s.endswith('n')

True

## Built-in Regular Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
Split() function is used to split the string at a certain element and return a list of the result. 
Partition() is used to return a tuple that includes the separator (the first occurrence), the first half and the end half.

In [53]:
s.split(' ')

['Python']

In [54]:
s.partition('y')

('P', 'y', 'thon')

In [55]:
s

'Python'

# Lists

List type is remarkably flexible they are mutable , they can be changed in place can grow and shrink on demand.Lists are ordered collection of objects.They are constructed with [] Square brackets.

In [56]:
# Assign a list to an variable named my_list
my_list = ['python','c','java']

List can contain any number of objects.

In [57]:
my_list = ['Book',22.0,12,'a'] 
my_list

['Book', 22.0, 12, 'a']

len(): function will tell you how many items are present in the sequence of the list.

In [58]:
len(my_list)

4

## Indexing and Slicing

Indexing and slicing of lists works just like in Strings

In [59]:
my_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [60]:
# extract's the element of the list present at index 0
my_list[0]

'apple'

In [61]:
# extract's all the elements of a list starting from index 1 
my_list[1:]

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [62]:
# extract's all the elements of a list starting from index 3
my_list[3:]

['orange', 'kiwi', 'melon', 'mango']

### List Concatenation

In [63]:
my_list + ['grapes']

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

Note: Order of the list remains unchanged

In [64]:
my_list

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

To append the new item i.e.,['Grapes'] to the list, you have to reassign the list to make the permanent change.

In [65]:
# Reassign
my_list = my_list + ['grapes']

In [66]:
my_list

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

We can also use the * for a duplication method similar to strings.

In [67]:
# Make the list double
my_list * 2

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'grapes',
 'apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'grapes']

In [68]:
# Again doubling is not permanent
my_list

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

#  Basic List Methods

In [69]:
lst = ['one',2,'three']

append(): append method is used to add the element permanently to the list.

In [70]:
#append
lst.append(4)

In [71]:
# print the list
lst

['one', 2, 'three', 4]

pop(): we use pop to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off.

In [72]:
# pop the element present at index 3
lst.pop(3)

4

In [73]:
# print the list
lst

['one', 2, 'three']

In [74]:
# Assign popped element , default of popped index is -1
popped_element = lst.pop()
popped_element

'three'

In [75]:
# print the remaining list
lst

['one', 2]

In [76]:
#Note that lists indexing will return an error if there is no element at that index
lst[5]

IndexError: list index out of range

### Sort and Reverse methods

In [77]:
new_list = ['a','l','e','x','a']

In [78]:
new_list

['a', 'l', 'e', 'x', 'a']

In [79]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [80]:
new_list

['a', 'x', 'e', 'l', 'a']

In [81]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [82]:
new_list

['a', 'a', 'e', 'l', 'x']

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures.

For example: A list inside a list.

In [83]:
# Let's make three lists
lst_1=['ant','rat','cat']
lst_2=['tiger','zebra','giraffe']
lst_3=['parrot','pigeon','penguin']

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [84]:
# print
matrix

[['ant', 'rat', 'cat'],
 ['tiger', 'zebra', 'giraffe'],
 ['parrot', 'pigeon', 'penguin']]

In [85]:
# Extract first item in matrix object
matrix[0]

['ant', 'rat', 'cat']

In [86]:
# To extract first item of the first item in the matrix object
matrix[1][1]

'zebra'

# List Comprehension

In [87]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[2] for row in matrix]

In [88]:
first_col

['cat', 'giraffe', 'penguin']

# Advanced Lists

In [89]:
lst = ['alpha','beta','gamma']

# append

append(): Appends an element at the end of the list.

In [90]:
lst.append('delta')

lst

['alpha', 'beta', 'gamma', 'delta']

## Count

 count(): Takes in an element and returns the number of times it occures in the list.

In [91]:
lst.count('gamma')

1

## extend

### Difference between extend and append

#### append: Appends an element at the end of the list.

In [92]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

#### extend: extends list by appending elements from the iterable.

In [93]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

## index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [94]:
print(lst)

['alpha', 'beta', 'gamma', 'delta']

In [95]:
lst.index('beta')

1

## insert

Two arguments can be placed in insert method.

Syntax: insert(index,object)

In [144]:
lst = [1,2,3]

In [145]:
# to insert an element at index 3
lst.insert(3,4)

In [146]:
lst

[1, 2, 3, 4]

## pop

pop():It allows us to "pop" off the last element of a list.

In [147]:
lst

[1, 2, 3, 4]

In [148]:
ele = lst.pop()

In [149]:
lst

[1, 2, 3]

In [150]:
ele

4

## remove

The remove() method removes the first occurrence of a value.

In [151]:
lst

[1, 2, 3]

In [152]:
lst.remove(3)

In [153]:
lst

[1, 2]

In [154]:
lst = ['abc',1,2,3,'123']

In [156]:
lst.remove('123')

In [157]:
lst

['abc', 1, 2, 3]

## reverse

 reverse() helps you to reverse a list.

In [158]:
lst.reverse()

In [159]:
lst

[3, 2, 1, 'abc']

## sort

sort(): sort is used to sort list in place.

In [162]:
lst = [20,10,5,30]

In [163]:
lst.sort()

In [164]:
lst

[5, 10, 20, 30]